{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
  <div class="container">
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    <div class="wrapper">
      <form action="" method="post" class="form-signin" novalidate>
        <h3 class="form-signin-heading">{% block title %}Substances - {{ date }}{% endblock %}</h3>
        {% if wizard.form.name %}
          <h4 class="form-signin-heading">{{ wizard.form.name }}</h4>
        {% endif %}
        {% if wizard.steps.step1 != 1 %}
          <h5 class="form-signin-heading">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h5>
        {% endif %}
        <hr class="colorgraph">
        <br>
        {{ wizard.management_form }}
{% csrf_token %}
        {% if wizard.form.forms %}
          {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
            <div class="formset">
            {% bootstrap_form form layout='horizontal' size='lg' %}
            </div>
          {% endfor %}
        {% else %}
          {% bootstrap_form wizard.form layout='horizontal' size='lg' %}
        {% endif %}


        <div class="form-group">
          {% if wizard.steps.prev %}
            {% bootstrap_button button_type='submit' name='wizard_goto_step' button_class='btn-outline-primary' value=wizard.steps.prev content='Back' %}
          {% endif %}
          {% if wizard.steps.next %}
            {% bootstrap_button button_type='submit' button_class='btn-outline-primary' content='Next' %}
          {% else %}
            {% bootstrap_button button_type='submit' button_class='btn-outline-success' content='Submit' %}
          {% endif %}
        </div>
      </form>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('.formset').formset({
          deleteCssClass: "col-md-9 offset-md-3 btn btn-outline-danger",
          addCssClass: "col-md-12 btn btn-outline-info mb-4",
          prefix: "other-type"
        });
    })
</script>
{% endblock %}
{% block css %}
  <style>
    .wrapper {
      margin-top: 80px;
      margin-bottom: 20px;
    }

    .form-signin {
      max-width: 1024px;
      padding: 30px 38px 66px;
      margin: 0 auto;
      background-color: #eee;
      border: 3px dotted rgba(0, 0, 0, 0.1);
    }

    .form-signin-heading {
      text-align: center;
      margin-bottom: 30px;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
    }

    input[type="text"] {
      margin-bottom: 0px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .colorgraph {
      height: 7px;
      border-top: 0;
      background: #c4e17f;
      border-radius: 5px;
      background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    }
  </style>
{% endblock %}
